body {
    /* background-color: #ead9ea; */
    font-family: 'Monaco', monospace;
    /* color: white; */
  }

  /* Style the tab */
.tab {
  overflow: hidden;
  border: none;
  margin-bottom: 10px;
  /* border: 1px solid #ccc; */
  background-color: #d8dae7;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  font-family: 'Monaco', monospace;
  float: left;
  border: none;
  border-radius: 10px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #cfd2e8;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #bec4e1;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  /* border: 1px solid #ccc; */
  border: none;
  border-top: none;
  animation: fadeEffect 0.7s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}

.sectionlabel {
  font-size: medium;
  font-weight: bold;
  display: inline;
}

.headinglabel {
  font-size: medium;
  font-weight: bold;
}

.barlabel {
  font-size: medium;
}

form {
  display: inline;
}

.optionbar {
  width: 220px;
  /* height: 100px; */
  display: inline-block;
}

.octave {
  display: inline;
  /* font-size: medium; */
}

.octaveblock {
  margin-top: 10px;
  /* display: block; */
}

.section {
  margin-top: 10px;
}
.miniinput {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    /* font-size: medium; */
    /* height: 20px; */
  }

.explainer {
  font-size: small;
  margin: 0px;
}

.explainerinline {
  font-size: small;
  margin: 0px;
  display: inline;
}
/* 
output {
    display: inline-block;
} */

  /* p {
    display: inline-block;
  } */